<div class="transbox">
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">
                    Sku
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col">
                    Model
                </th>
                <th scope="col">
                    Serial
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <% @computerlist.each do |computer|  %>
                <tr>
                    <td>
                        <%= computer.skulist.sku %>
                    </td>
                    <td>
                        <%= computer.skulist.description %>
                    </td>
                    <td>
                        <%= computer.skulist.model_number %>
                    </td>
                    <td>
                        <%= computer.serial %>
                    </td>
                    <td>
                        <button class="btn btn-primary"><a href="/computers/<%= computer.id %>">Show</a></button>
                        <button class="btn btn-primary">Sell</button>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>