<h1>Receive a new computer:</h1> 
<label for="sku-dropdown">Sku</label>
<select name="sku-dropdown" id="sku-dropdown">
    <% @skulist.each do |computer| %>
    <option class="class-option" value="<%= computer.sku %>"><%= computer.sku %></option>
    <% end %>
</select>
<label for="desc-dropdown">Description</label>
<select name="desc-dropdown" id="desc-dropdown">
    <% @skulist.each do |computer| %>
        <option class="class-option" value="<%= computer.description %>">
            <%= computer.description %>
        </option>
        <% end %>
</select>
<label for="model-dropdown">Model</label>
<select name="model-dropdown" id="model-dropdown">
    <% @skulist.each do |computer| %>
        <option class="class-option" value="<%= computer.model_number %>">
            <%= computer.model_number %>
        </option>
        <% end %>
</select>

<form action="/computers" id="comp-submit" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="skulist_sku" id="skulist_sku" value="">
    <label for="serial">
        Serial<input type="text" name="serial">
    </label>
    <button type="Submit" name="Submit">Submit</button>
</form>

<% if flash[:success].present? %>
    <div class='flash-success'>
        <p><%= flash[:success] %></p>
    </div>
<% end %>





