<h1>Welcome, <%= current_user.first_name %></h1>

<div class="container" style="background-color:<%= session[:colors]['background-color'] %>; color:<%= session[:colors]['color'] %>">
    <div class="row">
        <div class="col">
            <% if current_user.user_level >= 4 %>
                <h3>Your Direct Reports</h3>
                <% current_user.employees.each do |employee| %>
                    <p><a href="/users/<%= employee.id %>"><%= employee.first_name %> <%= employee.last_name %></a></p>
                <% end %>
            <% end %>
        </div>
        <div class="col">
            <% if current_user.user_level >= 4 %>
                <% if @new.length > 0 %>
                    <h3>New Team Members to be assigned</h3>
                    <% @new.each do |member| %>
                    <div class="level_set">
                        <p><%= member.first_name %> <%=member.last_name%></p>
                        <% member.stores.each do |store| %>
                        <p><%= store.store_number %></p>
                        <% end %>
                        
                        <form action="/users/<%= member.id %>" method="post">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <input type="hidden" name="_method" value="patch">
                            <select name="level" id="level">
                                <% @levellist.each do |i, value| %>
                                    <% if i < current_user.user_level %>
                                    <option value="<%= i %>"><%= value %></option>
                                    <% end %>
                                <% end %>alu
                            </select>
                            <input type="submit" name="sublevel" value="Set Level">
                        </form>
                    </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Your Teammates</h3>
            <% @team.each do |i| %>
                <% i.each do |teammate| %>
                    <p><a href="/users/<%= teammate.id %>"><%= teammate.first_name %> <%= teammate.last_name %></a></p>
                <% end %>
            <% end %>
        </div>
        <div class="col">
            <h3>Recent Team Sales</h3>
            <% current_user.employees.each do |employee| %>
                <% employee.sales.each do |sale| %>
                    <p><%= sale.transaction_date %></p>
                    <p>Customer:<a href="/customers/<%= sale.customer_id %>"> <%= sale.customer.first_name %> <%= sale.customer.last_name %></a></p>
                    <% sale.computers.each do |computer| %>
                        <p><%= computer.skulist.sku %></p>
                        <p><%= computer.skulist.description %></p>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="col">
            <h3>Recent Store Sales</h3>
            <% current_user.stores.each do |store| %>
            <% store.sales.each do |sale| %>
            <p><%= sale.transaction_date %></p>
            <p>Customer:<a href="/customers/<%= sale.customer_id %>"><%= sale.customer.first_name %> <%= sale.customer.last_name %></a></p>
            <% sale.computers.each do |computer| %>
            <p><%= computer.skulist.sku %></p>
            <p><%= computer.skulist.description %></p>
            <% end %>
            <% end %>
            <% end %>
        </div>
    </div>
</div>

