

    <div class="wrapper">
        <div id="reg_form">
        <form action="/users" method="post">
            <div class="form-group">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <label for="user[first_name]">First Name</label>
                <input type="text" class="form-control" name="user[first_name]">
            </div>
            <div class="form-group">
                <label for="user[last_name]">Last Name</label>
                <input type="text" class="form-control" name="user[last_name]">
            </div>
            <div class="form-group">
                <label for="user[email]">Email</label>
                <input type="text" class="form-control" name="user[email]">
            </div>
            <div class="form-group">
                <label for="user[employee_number]">Employee Number</label>
                <input type="text" class="form-control" name="user[email]">
            </div>
            <div class="form-group">
                <label for="store[store_number]">Store Number</label>
                <select name="store[store_number]" id="store[store_number]">
                    <% @stores.each do |store| %>
                    <option value="<%= store.store_number %>"><%= store.store_number %> -
                        <%= store.school.name %></option>
                    <% end %>
                </select>
            </div>
            <div class="form-group">
                <label for="user[password]">Password:</label>
                <input type="password" class="form-control" name="user[password]">
            </div>
            <div class="form-group">
                <label for="user[password_confirmation]">Confirm Password:</label>
                <input type="password" class="form-control" name="user[password_confirmation]">
            </div>
            <input type="submit" class="btn btn-primary" value="submit">
        </form>
        </div>
        <div id="login_form">
            <form action="/sessions" method="post">
                <div class="form-group">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <label for="employee_number">Employee Number</label>
                    <input type="text" class="form-control" name="employee_number">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <input type="submit" class="btn btn-primary" value="submit">
            </form>
        </div>
    </div>
