<h1><%= @customer.first_name %> <%= @customer.last_name %></h1>
<% @customer.sales.each do |sale| %>
<p><%= sale.transaction_date %></p>
<% sale.computers.each do |computer| %>
<p><%= computer.sku %></p>
<p><%= computer.description %></p>
<p><a href="/computers/<%= computer.id %>"><%= computer.serial %></a></p>
<% end %>
<% end %>