<!DOCTYPE html>
<html>
<head>
  <title>Follett Tech Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body style="background: linear-gradient(to bottom right,<%= session[:colors]['background-color'] %>,<%= session[:colors]['color'] %>,<%= session[:colors]['background-color'] %>); color: white">
<%= render "shared/menu" %>
<%= render "shared/errors" %>

<div id="wrapper">
<%= yield %>
</div>
</body>
</html>

